<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="shortcut icon" href="../../static/img/ukraine-logo.svg">
    <title>SAVE UKRAINE</title>
</head>

<body>
    <picture>
        <img src="../../static/img/flags.jpg" alt="Flags">
    </picture>

    <menu>
        <ul>
            <li>About</li>
            <li>Make your contributions</li>
            <li>Contact</li>
        </ul>
    </menu>

    <h1>Dear Friends!</h1>

    <p>On the 24th of February 2022 at 5 a.m. Russia started war against peaceful Ukraine. Since then its troops has  not only killed military but also civil people, including women and children.</p>

    <p>You can help heroic Ukrainian people by donating to following official Canadian and Ukrainian funds:
        <ul>
            <li><a href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi?fbclid=IwAR06a2v09NvtWOSsIUsXvPdngMX1P0RhfzkaNp5xJjZNbBGsxkgOz0zxwJk" target="_blank">National Bank of Ukraine Opens Special Account to Raise Funds for Ukraine’s Armed Forces. ---- You can use <b>Google Pay</b>.</li>
            <li><a href="https://donate.redcross.ca/page/100227/donate/1?_ga=2.217481940.358630386.1646071128-1622633653.1646071128&_gl=1*1yawrz0*_ga*MTYyMjYzMzY1My4xNjQ2MDcxMTI4*_ga_376D8LHM0R*MTY0NjA3MTEyNy4xLjEuMTY0NjA3MTE4NS4w" target="_blank">Canadian Red Cross - Donate to the Ukraine Humanitarian Crisis Appeal</a>

            </li>
        </ul>
         </p>

    <script src="../../static/main.js" type="text/javascript"></script>
</body>
</html>
