body {
    margin: 50px;
}

h1 {
    text-align: center;
}

li {
    margin: 10px;
}

picture {
    margin: auto;
    align-content: center;
}

picture img{
    width: 30vw;
    margin:auto;
}

menu ul{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    align-items:center;
    text-align: center;
    justify-content: center;
    padding:0%;
}

menu ul li {
    padding: 3px;
    border-radius: 5px;
}

menu li:hover{
    background-color: bisque;
}