body {
    margin: 50px;
}

h1 {
    text-align: center;
}

li {
    margin: 10px;
}

picture {
    margin: auto;
    align-content: center;
}

picture img{
    width: 30vw;
    margin:auto;
}

menu {
    padding: 0%;
}

menu ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    align-items:center;
    text-align: center;
    justify-content: center;
    padding:0%;
}

menu ul li {
    list-style-type: none;
    padding: 3px;
    border-radius: 5px;
    max-width: 20%;
}

menu li:hover {
    text-decoration: underline;
}

.links {
    list-style-type: none;
    padding: 0%;
    text-align: center;
}

.links li {
    margin: 10px;
    background-color:rgb(170, 219, 219);
    border-radius: 5px;
    padding: 5px;
}